@font-face {
    font-family: 'Six Caps';
    src: url('six-caps.woff2') format('woff2'),
        url('six-caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

